th-api.ebsycloud.com {
    reverse_proxy api_server:3000
    encode gzip
    log {
        output stdout
        format json
    }
    tls {
        on_demand
    }
}

api-dev.app.thrivehub.ai {
    reverse_proxy api_server:3000
    encode gzip
    log {
        output stdout
        format json
    }
    tls {
        on_demand
    }
}

thrivehub.ai {
    reverse_proxy th_ssr_app:8000
    encode gzip
    log {
        output stdout
        format json
    }
    tls {
        on_demand
    }
}